.detail-video{    
    display: flex;    
    flex-direction: column;
    align-items: center;
    font-family: var(--primary-font);
    color: var(--primary-color);
    padding-bottom: 5%;
}
.detail-video__wrapper{
    width: 44.5%;
    padding-bottom: 25%;
    position: relative;
}

@media screen and (max-width: 750px) {
    .detail-video__wrapper{
        width: 90%;
        padding-bottom: 50.5%;
    }
}