.hot-news{
    display: grid;    
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1%;
}
.hot-news__article{
    display: grid;
    padding:20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
}
.hot-news__image{
    position: relative;
    overflow: hidden;    
    width: 100%;
    height: 0;
    padding-bottom: 50%;
    background-size: cover;    
    background-position: center;    
    transition: transform .5s ease;    
}
.hot-news__image img{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform .5s ease;
    object-fit: cover;
}
.hot-news__image img:hover{
    transform:scale(1.3);
}
.hot-news__heading{
    margin: 10px 0;
}
.hot-news__description{
    margin: 10px 0;
}
.hot-news__date{
    display: flex;    
    justify-content: space-between;
    margin-top: auto;
}
.hot-news__date strong{
    color: var(--color-orange);
}
@media screen and (max-width: 750px) {
    .hot-news{
        margin: 0 5%;
        grid-template-columns: 1fr;
    }
}