@import "config_bem.css";
@import "_header.css";
@import "_footer.css";
@import "_search_bar.css";
@import "_link.css";

html {
    font-family: "Nunito";
    color: white;
  }

body {
margin: 0;
}

a {
text-decoration: unset;
color: unset;
}
.main-section{
    display: flex;
    flex-direction: column;
    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}
.float-left{
    position: absolute;
    left: 0;
}
.float-right{
    position: absolute;
    right: 0;
}
.bg-black{
    background-color: var(--secondary-color);
}
.text-bold{
    font-weight: bold;
}
.full-height{
    height: 100%;
}
.full-width{
    height: 100%;
}