@import "config_bem.css";
@import "header.css";
@import "footer.css";
@import "link.css";

html {
    font-family: "Nunito";
    color: white;
  }

body {
margin: 0;
}

a {
text-decoration: unset;
color: unset;
}
.float-left{
    position: absolute;
    left: 0;
}
.float-right{
    position: absolute;
    right: 0;
}
.bg-black{
    background-color: var(--secondary-color);
}
.text-bold{
    font-weight: bold;
}
.full-height{
    height: 100%;
}
.full-width{
    height: 100%;
}