<html class="teyvat-page">
    <head>      
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../style/main.css">      
        <link rel="stylesheet" href="../style/about.css">
        <link rel="stylesheet"href="https://fonts.googleapis.com/css?family=Nunito">        
        <Title>About Us</Title>
        <style>            
        </style>
    </head>
    <body>     
        <section class="main-section">                        
            <div data-module="../modules/header.html" data-settings='{"src":"../view/HomePage.html","img":"../../img/home.png"}'></div>
            <div class="about content">
                <div class="about-header">ABOUTUS</div>
                <article class="about-article">
                    <section class="about-front tile-1">
                        <img src="../../img/Albedo_Thumb.png">
                        <img src="../../img/Klee_Thumb.png">
                    </section>
                    <p>If you're looking for random paragraphs, you've come to the right place. When a random word or a random sentence isn't quite enough, the next logical step is to find a random paragraph. We created the Random Paragraph Generator with you in mind. The process is quite simple. Choose the number of random paragraphs you'd like to see and click the button. Your chosen number of paragraphs will instantly appear.</p>
                    <p>While it may not be obvious to everyone, there are a number of reasons creating random paragraphs can be useful. A few examples of how some people use this generator are listed in the following paragraphs.</p>
                </article>
                <article class="about-article">
                    <section class="about-front tile-2">
                        <img class="tile-2" src="../../img/Element_Pyro.png">
                        <img class="tile-2" src="../../img/Element_Anemo.png">
                        <img class="tile-2" src="../../img/Element_Geo.png">
                        <img class="tile-2" src="../../img/Element_Hydro.png">
                    </section>
                    <p>The seven Elements of Genshin Impact are special Status Effects and types of Damage that can be applied in specific orders to trigger Elemental Reactions.</p>
                    <p>Some beings in Teyvat are mysteriously granted Visions, which are external apparatuses that allow their owners to wield the elements. Visions take the form of crystals, each with the symbol and color of one element. Depending on the region in which they received their vision, they feature ornaments characteristic of that region.</p>
                </article>
                <article class="about-article"></article>
                <article class="about-article"><section class="about-front tile-4">
                    <div class="box-3d rotate">
                        <div class="side side-1"><img src="../../img/Element_Hydro.png"></div>
                        <div class="side side-2"><img src="../../img/Element_Cryo.png"></div>
                        <div class="side side-3"><img src="../../img/Element_Pyro.png"></div>  
                        <div class="side side-4"><img src="../../img/Element_Anemo.png"></div>                  
                        <div class="side side-5"><img src="../../img/Element_Electro.png"></div>
                        <div class="side side-6"><img src="../../img/Element_Geo.png"></div>
                    </div>
                </section></article>
            </div> <!--content-->
            <div data-module="../modules/footer.html"></div>
        <section>
    </body>
    
    <script src="../js/moduleIntegrate.js"></script>   
    <script src="../js/about.js"></script>
</html>