<html class="teyvat-page">
    <head>      
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../style/BEM/main.css">
        <link rel="stylesheet"href="https://fonts.googleapis.com/css?family=Nunito">        
        <Title>Ayaka</Title>
        <style>            
        </style>
    </head>
    <body>     
        <section class="main-section">                        
            <div data-module="header_bem" data-settings='{"src":"../view/HomePage.html","img":"../../img/home.png"}'></div>
            <div class="content">
                <main class="mainContent detail-content" id="ayaka"></main>
                <div class="side-content__sidebar"></div>
                <aside class="sideContent side-content">
                    <div data-module="sideContent_bem"></div>
                    <div data-module="commentSection_bem"></div><!--commentSection-->
                </aside>
            </div> <!--content-->
            
            <div class="content table">
                <article class="contentText">
                    <h2 class="character-table_heading">Character Details</h2>
                    <div class="character-table" data-table="ayaka"></div>                  
                </article>
            </div>
            <div data-module="videoContent_bem" data-settings='{"video":"https://www.youtube.com/embed/vsCO7C416bs","heading":"The Homeward Heron"}'></div>          
            <div data-module="userFeedback"></div>
            <div data-module="footer_bem"></div>
        <section>
    </body>
    
    <script src="../js/moduleIntegrate.js"></script>
    <script src="../js/detail.js"></script>
    <script>fetchNations();</script>
</html>