<html class="home-page">
    <head>
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../style/BEM/main.css">
        <link rel="stylesheet" href="../style/BEM/browse.css">
        <link rel="stylesheet"href="https://fonts.googleapis.com/css?family=Nunito">
        <Title>Home</Title>
    </head>
    <body>
        <section class="main-section">
            <div data-module="header_bem" data-settings='{"src":"../view/BrowsePage.html","img":"../../img/browseLogo.png"}'></div>
            <div class="content">                
                <section class="hot-news"></section>
                <section class="nations"></section>                                                         
            </div><!--content-->            
            <div class="home browse browse__list" data-category="events">
                <header>
                    <button class="browse__button-home browse__button-home-active" onclick="handleCategoryClick(this)">Events</button>
                    <button class="browse__button-home" onclick="handleCategoryClick(this)">Character</button>
                    <button class="browse__button-home" onclick="handleCategoryClick(this)">Info</button>
                </header>
            </div>
            <div data-module="footer_bem"></div>
        </section>        
        <script type="text/javascript" src="../js/home.js"></script>
        <script src="../js/moduleIntegrate.js"></script>
    </body>        
</html>