<html class="home-page">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../style/main.css">
        <link rel="stylesheet" href="../style/home.css">
        <link rel="stylesheet"href="https://fonts.googleapis.com/css?family=Nunito">
        <Title>Home</Title>
    </head>
    <body>
        <section class="main-section">
            <div data-module="../modules/header.html"></div>
            <div class="content">                
                <section class="hot-news">
                    <article>
                        <div class="art-wrapper">
                            <img src="../../img/art1.jpg">
                        </div>
                        <h3>Genshin Impact EP - The Iridescent Waves</h3>
                        <p>Clouds move across the sea, riding the wind of distant mountains, reflected in a mirror of water.
                            Waves in the heart, floating in the iridescent sky, silent as the moon of the quiet night.</p>
                        <div class="art-footer">
                            <span>Apr 14, 2022</span>
                            <span><strong>Info</strong></span>
                        </div>
                    </article>
                    <article>
                        <div class="art-wrapper">
                            <img src="../../img/art2.jpg">
                        </div>
                        <h3>Paimon's Sneak Peek at Version 2.5 New Events - Phase II</h3>
                        <p>In Version 2.5, there will be many new events available, let's take a look~</p>
                        <div class="art-footer">
                            <span>June 22, 2022</span>
                            <span><strong>Info</strong></span>
                        </div>
                    </article>
                    <article>
                        <div class="art-wrapper">
                            <img src="../../img/art3.jpg">
                        </div>
                        <h3>Event Wish "Drifting Luminescence" - Boosted Drop Rate for "Pearl of Wisdom" Sangonomiya Kokomi (Hydro)!</h3>
                        <p>Travelers, stock up on weapons and characters in the event wish to make your party stronger in combat!</p>
                        <div class="art-footer">
                            <span>July 24, 2022</span>
                            <span><strong>Info</strong></span>
                        </div>
                    </article>
                </section>
                <section class="major-nation">
                    <ul>
                        <li>
                            <div class="background-image" style="background-image: url(../../img/mons.jpg);"></div>
                            <h1>Mondstadt</h1>
                            <img class="character-icon" src="../../img/jean.png">
                        </li>
                        <li>
                            <div class="background-image" style="background-image: url(../../img/liyue.jpg);"></div>
                            <h1>Liyue</h1>
                            <img class="character-icon" src="../../img/xiao.png">
                        </li>
                        <li>
                            <div class="background-image" style="background-image: url(../../img/inazuma.jpg);"></div>
                            <h1>Inazuma</h1>
                            <img class="character-icon" src="../../img/ayaka.png">
                        </li>
                    </ul>
                </section>                                                         
            </div><!--content-->            
            <div class="article-list" data-category="events">
                <header>
                    <button class="active" onclick="handleCategoryClick(this)">Events</button>
                    <button onclick="handleCategoryClick(this)">Character</button>
                    <button onclick="handleCategoryClick(this)">Info</button>
                </header>
            </div>
            <div data-module="../modules/footer.html"></div>
        </section>
    </body>
    <script src="../js/moduleIntegrate.js"></script>
    <script src="../js/home.js"></script>
    <script>fetchArticles();</script>
</html>