<html class="teyvat-page">
    <head>      
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../style/main.css">      
        <link rel="stylesheet" href="../style/detail.css">
        <link rel="stylesheet"href="https://fonts.googleapis.com/css?family=Nunito">        
        <Title>Kazuha</Title>
        <style>            
        </style>
    </head>
    <body>     
        <section class="main-section">                        
            <div data-module="../modules/header.html"></div>
            <div class="content">
                <main class="mainContent">
                    <article class="contentArticle">
                        <div class="contentText">
                            <h1>Kaedehara Kazuha</h1>                            
                            <p>A wandering samurai of the once-famed Kaedehara Clan, Kazuha is a temporary crewmember of The Crux.</p>                            
                        </div>
                        <figure class="contentImage">
                            <img alt="Teyvat Photo" src="../../img/kazuhaPortrait.webp">                            
                        </figure>
                    </article>
                </main>
                <div class="sideBar"></div>
                <aside class="sideContent">
                    <button class="drag-article" onclick="openNav()">
                        <i class="arrow right"></i>
                    </button>
                    <div class="sections">
                        <div class="sideArticle"><h2>Guides</h2></div>
                        <div class="sideArticle">
                            <a href="https://www.youtube.com/watch?v=Bp_GgNSy8eU">Beginners Guide</a>
                        </div>
                        <div class="sideArticle">
                            <a href="https://docs.google.com/spreadsheets/d/1gNxZ2xab1J6o1TuNVWMeLOZ7TPOqrsf3SshP5DLvKzI/htmlview?pru=AAABdXYM80o*xMxXJdNbCCZ-v9FLVh6EXg#">Character Reference</a>
                        </div>
                    </div>                
                    <div class="sections">
                        <div class="sideArticle"><h2>References</h2></div>
                        <div class="sideArticle"><a href="https://genshin-impact.fandom.com/wiki/Genshin_Impact_Wiki">Genshin Wiki</a></div>
                        <div class="sideArticle"><a href="https://www.youtube.com/c/GenshinImpact">Genshin Youtube</a></div>
                    </div>
                    <div data-module="../modules/commentSection.html"></div><!--commentSection-->
                </aside>
            </div> <!--content-->
            
            <div class="content">
                <article class="contentText">
                    <h2 class="topBorderHeading">Character Details</h2>
                    <div class="character-table" data-table="kazuha"></div>                  
                </article>
            </div>
            <div class="detailVideo">
                <h1>Kaedehara Kazuha: Moonlit Breez</h1>
                <div class="frameWrapper">
                    <iframe style="width: 100%;height: 100%;position: absolute;" src="https://www.youtube.com/embed/ST5v7-C3iDk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div><!--Embedded Video-->
            <div data-module="../modules/userFeedback.html"></div>
            <div data-module="../modules/footer.html"></div>
        <section>
    </body>
    <script src="../js/moduleIntegrate.js"></script>
    <script src="../js/detail.js"></script>
    <script>fetchNations();</script>
</html>