<html class="teyvat-page">
    <head>      
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../style/main.css">      
        <link rel="stylesheet"href="https://fonts.googleapis.com/css?family=Nunito">        
        <Title>Teyvat</Title>
        <style>            
        </style>
    </head>
    <body>     
        <section class="main-section">                        
            <div data-module="../modules/header.html"></div>
            <div data-module="../modules/footer.html"></div>
        <section>
    </body>
    <script src="../js/moduleIntegrate.js"></script>
</html>