<html class="teyvat-page">
    <head>      
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../style/main.css">      
        <link rel="stylesheet" href="../style/detail.css">
        <link rel="stylesheet"href="https://fonts.googleapis.com/css?family=Nunito">        
        <Title>Teyvat</Title>
        <style>            
        </style>
    </head>
    <body>     
        <section class="main-section">                        
            <div data-module="header" data-settings='{"src":"../view/HomePage.html","img":"../../img/home.png"}'></div>
            <div class="content">
                <main class="mainContent">
                    <article class="contentArticle">
                        <div class="contentText">
                            <h1>Adventures in Teyvat</h1>
                            <h4 class="inlineHeading">Teyvat </h4> is the continent that serves as the primary region of Genshin Impact.
                            <p>You have arrived in Teyvat — a fantasy world where the seven elements flow and converge.</p>
                            <p>In the distant past, the Archons granted mortals unique elemental abilities. With the help of such powers, people formed a bountiful homeland out of the wilderness.</p>
                            <p>However, 500 years ago, the collapse of an ancient civilization turned the universe upside down... Though the calamity the world suffered has ceased, peace has yet to be restored.</p>                            
                        </div>
                        <figure class="contentImage">
                            <img alt="Teyvat Photo" src="../../img/map.png">
                            <figcaption>Map of Teyvat</figcaption>
                        </figure>
                    </article>
                </main>
                <div class="sideBar"></div>
                <aside class="sideContent">
                    <div data-module="sideContent"></div>
                    <div data-module="commentSection"></div><!--commentSection-->
                </aside>
            </div> <!--content-->
            <div class="content">
                <article class="contentText">
                    <h2 class="topBorderHeading">Major Nations</h2>
                    <div class="nation-list">
                        <div class="nation nation-header">
                            <div>Nation</div>
                            <div>Element</div>
                            <div>Archon</div>
                            <div>Ideal</div>
                            <div>Governing Body</div>
                        </div>
                    </div>                    
                </article>
            </div>
            <div data-module="videoContent" data-settings='{"video":"https://www.youtube.com/embed/1I5I_NoCDd8","heading":"Characters in Teyvat"}'></div>
            <div data-module="userFeedback"></div>
            <div data-module="footer"></div>
        <section>
    </body>
    
    <script src="../js/moduleIntegrate.js"></script>
    <script src="../js/detail.js"></script>
    <script>fetchNations();</script>
</html>