<html class="teyvat-page">
    <head>      
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../style/main.css">      
        <link rel="stylesheet" href="../style/detail.css">
        <link rel="stylesheet"href="https://fonts.googleapis.com/css?family=Nunito">        
        <Title>Teyvat</Title>
        <style>            
        </style>
    </head>
    <body>     
        <section class="main-section">                        
            <div data-module="../modules/header.html" data-settings='{"src":"../view/HomePage.html","img":"../../img/home.png"}'></div>
            <div class="content">
                <main class="mainContent">
                    <article class="contentArticle">
                        <div class="contentText">
                            <h1>Adventures in Teyvat</h1>
                            <h4 class="inlineHeading">Teyvat </h4> is the continent that serves as the primary region of Genshin Impact.
                            <p>You have arrived in Teyvat — a fantasy world where the seven elements flow and converge.</p>
                            <p>In the distant past, the Archons granted mortals unique elemental abilities. With the help of such powers, people formed a bountiful homeland out of the wilderness.</p>
                            <p>However, 500 years ago, the collapse of an ancient civilization turned the universe upside down... Though the calamity the world suffered has ceased, peace has yet to be restored.</p>                            
                        </div>
                        <figure class="contentImage">
                            <img alt="Teyvat Photo" src="../../img/map.png">
                            <figcaption>Map of Teyvat</figcaption>
                        </figure>
                    </article>
                </main>
                <div class="sideBar"></div>
                <aside class="sideContent">
                    <button class="drag-article" onclick="openNav()">
                        <i class="arrow right"></i>
                    </button>
                    <div class="sections">
                        <div class="sideArticle"><h2>Guides</h2></div>
                        <div class="sideArticle">
                            <a href="https://www.youtube.com/watch?v=Bp_GgNSy8eU">Beginners Guide</a>
                        </div>
                        <div class="sideArticle">
                            <a href="https://docs.google.com/spreadsheets/d/1gNxZ2xab1J6o1TuNVWMeLOZ7TPOqrsf3SshP5DLvKzI/htmlview?pru=AAABdXYM80o*xMxXJdNbCCZ-v9FLVh6EXg#">Character Reference</a>
                        </div>
                    </div>                
                    <div class="sections">
                        <div class="sideArticle"><h2>References</h2></div>
                        <div class="sideArticle"><a href="https://genshin-impact.fandom.com/wiki/Genshin_Impact_Wiki">Genshin Wiki</a></div>
                        <div class="sideArticle"><a href="https://www.youtube.com/channel/UC7mUoVEsTSf2dVlvs8tB75A">MELOO</a></div>
                    </div>
                    <div data-module="../modules/commentSection.html"></div><!--commentSection-->
                </aside>
            </div> <!--content-->
            <div class="content">
                <article class="contentText">
                    <h2 class="topBorderHeading">Major Nations</h2>
                    <div class="nation-list">
                        <div class="nation nation-header">
                            <div>Nation</div>
                            <div>Element</div>
                            <div>Archon</div>
                            <div>Ideal</div>
                            <div>Governing Body</div>
                        </div>
                    </div>                    
                </article>
            </div>
            <div class="detailVideo">
                <h1>Characters in Teyvat</h1>
                <div class="frameWrapper">
                    <iframe style="width: 100%;height: 100%;position: absolute;" src="https://www.youtube.com/embed/1I5I_NoCDd8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div><!--Embedded Video-->
            <div data-module="../modules/userFeedback.html"></div>
            <div data-module="../modules/footer.html"></div>
        <section>
    </body>
    
    <script src="../js/moduleIntegrate.js"></script>
    <script src="../js/detail.js"></script>
    <script>fetchNations();</script>
</html>