.about{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2%;
    width: 80%;
    margin: 100px auto;
    font-size: 15px;
    &-article{
        opacity: 0;
        transition: 0.5s ease-out;
        transform: translateX(-100%);
        background-color: black;
        color: black;
        padding: 5%;
        .tile-1 img{
            width: 80%;
            height: 40%;
            object-fit: contain;
            opacity: 1;  
            transition: transform 0.8s, opacity 0.3s 0.3s,top 0.3s 0.3s;
        }
        .tile-2 {
            overflow: hidden;
            img{
                width: 100%;
                height: 25%;
                object-fit: contain;
                opacity: 1;                
            }
        }
        .tile-4{
            display: flex;
            justify-content: center;
            align-items: center;
        }           
        p{            
            opacity: 0;                   
        }
        &.active{
            opacity: 1;
            transform: translateX(0);
        }
        &:hover{
            transform: scale(1.1);
            background-color: whitesmoke;
            z-index: 99;
            p{
                transition: 0.3s 0.5s;
                opacity: 1;
            }
            .tile-1 img{                
                transform: scale(1.5);
                opacity: 0;                            
            }
            .tile-2{
                img{
                    transition: transform 0.8s;
                    &:nth-child(1){
                        transform: translateY(-100%);
                        transition-delay: 0;
                    }
                    &:nth-child(2){
                        transform: translateX(-100%);
                        transition-delay: 0.15s;
                    }
                    &:nth-child(3){
                        transform: translateX(100%);
                        transition-delay: 0.3s;
                    }
                    &:nth-child(4){
                        transform: translateY(100%);
                        transition-delay: 0.45s;
                    }
                }                          
            }   
        }
    }
    &-front{
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
    &-header{
        position: absolute;
        display: flex;
        justify-content: center;
        top: -60px;
        width: 100%;                
        h1{
            width: fit-content;
            transition: 0.5s ease-in;
            margin: 0 10px;
            &.active{
                transform: scale(2);
                color: red;
            }                
        }
        &:hover{                
            /*
            h1 {
                animation: color-change 10s infinite;
              }
              
            @keyframes color-change {
                0% { color: red; }
                10% { color: blue; }
                20% { color: green; }
                30% { color: yellow; }
                40% { color: black; }
                50% { color: white; }
                60% { color: violet; }
                70% { color: pink; }
                80% { color: navy; }
                90% { color: skyblue;}
                100% { color: red; }
            }
            */
        }
    }
}

@media screen and (max-width: 750px){
    .about{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 650px 650px;
        row-gap: 10px;
        &-header{
            top: -40px;
        }
    }
}
@media screen and (max-width: 320px){
    .about{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4,500px);
        margin: 100px auto;
        &-header{
            top: -60px;
        }
        p{
            font-size: 0.8em;
        }
    }
}

.box-3d{
    position: relative;        
    width: 50px;
    height: 50px;       
    transform-style: preserve-3d;        
    transform-origin: right bottom;
    transition: transform 2s linear;
    .side{
        transform-style: preserve-3d;
        position: absolute;
        top:0;
        bottom:0;
        right: 0;
        left: 0;
        background-color: white !important;
        img{
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }
    .side-1{
        transform: translateZ(25px);
    }
    .side-2{
        //background-color: red;
        transform-origin: bottom left;
        transform: rotateX(90deg) translateY(25px);
    }
    .side-3{
        //background-color: green;
        transform-origin: top right;
        transform: rotateX(-90deg) translateY(-25px);
        img{
            transform: rotate(180deg);
        }
    }
    .side-4{
        //background-color: blue;
        transform-origin: right;
        transform: rotateY(-90deg) translateX(25px);
    }
    .side-5{
        //background-color: yellow;
        transform-origin: left;
        transform: rotateY(90deg) translateX(-25px);
    }
    .side-6{
        transform: rotate(90deg);
        transform: translateZ(-25px) ;
    }
}
.rotate {
    animation: rotation 3s infinite linear;
}
@keyframes rotation {
    from {
        transform: rotate3d(1, 1, 0, 0);
    }
    to {
        transform: rotate3d(1, 1, 0, 359deg);
    }
}