/* Font */
/* Font */
/* Color */
/* Color */
/* Images */
/* Images */
.about {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -webkit-column-gap: 2%;
          column-gap: 2%;
  width: 90%;
  max-width: 1600px;
  margin: 100px auto;
  font-size: 15px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.about-article {
  opacity: 0;
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  border-radius: 30px;
  background-color: black;
  color: black;
  padding: 5%;
}

.about-article .tile-back {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.about-article .tile-1 img {
  width: 80%;
  height: 40%;
  -o-object-fit: contain;
     object-fit: contain;
  opacity: 1;
  -webkit-transition: opacity 0.3s 0.3s,top 0.3s 0.3s, -webkit-transform 0.8s;
  transition: opacity 0.3s 0.3s,top 0.3s 0.3s, -webkit-transform 0.8s;
  transition: transform 0.8s, opacity 0.3s 0.3s,top 0.3s 0.3s;
  transition: transform 0.8s, opacity 0.3s 0.3s,top 0.3s 0.3s, -webkit-transform 0.8s;
}

.about-article .tile-2 {
  overflow: hidden;
}

.about-article .tile-2 img {
  width: 100%;
  height: 25%;
  -o-object-fit: contain;
     object-fit: contain;
  opacity: 1;
}

.about-article .tile-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-article p {
  opacity: 0;
}

.about-article.active {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.about-article:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  background-color: whitesmoke;
  z-index: 99;
}

.about-article:hover p {
  -webkit-transition: 0.3s 0.5s;
  transition: 0.3s 0.5s;
  opacity: 1;
}

.about-article:hover .tile-1 img {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  opacity: 0;
}

.about-article:hover .tile-2 img {
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

.about-article:hover .tile-2 img:nth-child(1) {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0;
  -webkit-transition-delay: 0;
          transition-delay: 0;
}

.about-article:hover .tile-2 img:nth-child(2) {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

.about-article:hover .tile-2 img:nth-child(3) {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  opacity: 0;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

.about-article:hover .tile-2 img:nth-child(4) {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
}

.about-article:hover:nth-child(4) {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.about-front {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.about-header {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: -60px;
  width: 100%;
}

.about-header h1 {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  margin: 0 10px;
}

.about-header h1.active {
  -webkit-transform: scale(2);
          transform: scale(2);
  color: #d61616;
}

.about-header:hover {
  /*
            h1 {
                animation: color-change 10s infinite;
              }
              
            @keyframes color-change {
                0% { color: red; }
                10% { color: blue; }
                20% { color: green; }
                30% { color: yellow; }
                40% { color: black; }
                50% { color: white; }
                60% { color: violet; }
                70% { color: pink; }
                80% { color: navy; }
                90% { color: skyblue;}
                100% { color: red; }
            }
            */
}

@media screen and (max-width: 750px) {
  .about {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (350px)[4];
        grid-template-rows: repeat(4, 350px);
    row-gap: 10px;
  }
  .about-header {
    top: -40px;
  }
  .about-front {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .about-front.tile-1 img {
    height: 80%;
    width: 40%;
  }
  .about-front.tile-2 img {
    height: 100%;
    width: 25%;
  }
}

@media screen and (max-width: 320px) {
  .about {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: (500px)[4];
        grid-template-rows: repeat(4, 500px);
    margin: 100px auto;
  }
  .about-header {
    top: -60px;
  }
  .about p {
    font-size: 0.8em;
  }
  .about-front {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-front.tile-1 img {
    width: 80%;
    height: 40%;
  }
  .about-front.tile-2 img {
    width: 100%;
    height: 25%;
  }
}

.box-3d {
  position: relative;
  width: 50px;
  height: 50px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: right bottom;
          transform-origin: right bottom;
  -webkit-transition: -webkit-transform 2s linear;
  transition: -webkit-transform 2s linear;
  transition: transform 2s linear;
  transition: transform 2s linear, -webkit-transform 2s linear;
}

.box-3d .side {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: white !important;
}

.box-3d .side img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
}

.box-3d .side-1 {
  -webkit-transform: translateZ(25px);
          transform: translateZ(25px);
}

.box-3d .side-2 {
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: rotateX(90deg) translateY(25px);
          transform: rotateX(90deg) translateY(25px);
}

.box-3d .side-3 {
  -webkit-transform-origin: top right;
          transform-origin: top right;
  -webkit-transform: rotateX(-90deg) translateY(-25px);
          transform: rotateX(-90deg) translateY(-25px);
}

.box-3d .side-3 img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.box-3d .side-4 {
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transform: rotateY(-90deg) translateX(25px);
          transform: rotateY(-90deg) translateX(25px);
}

.box-3d .side-5 {
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: rotateY(90deg) translateX(-25px);
          transform: rotateY(90deg) translateX(-25px);
}

.box-3d .side-6 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform: translateZ(-25px);
          transform: translateZ(-25px);
}

.rotate {
  -webkit-animation: rotation 3s infinite linear;
          animation: rotation 3s infinite linear;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate3d(1, 1, 0, 0);
            transform: rotate3d(1, 1, 0, 0);
  }
  to {
    -webkit-transform: rotate3d(1, 1, 0, 359deg);
            transform: rotate3d(1, 1, 0, 359deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate3d(1, 1, 0, 0);
            transform: rotate3d(1, 1, 0, 0);
  }
  to {
    -webkit-transform: rotate3d(1, 1, 0, 359deg);
            transform: rotate3d(1, 1, 0, 359deg);
  }
}
/*# sourceMappingURL=about.css.map */