$primary-font: 'Nunito';
$primary-color: white;
$secondary-color:black;
/*brows style*/
.page-not-found{       
    position: absolute;
    top:-40vh;
    width: 100%;    
    text-transform: uppercase;
    font-size: 2em;
    opacity: 0;    
    transition: opacity 0.5s, top 1s;
    &.show{
        opacity: 1;
        top: -100px;
    }
}
.browse-page .main-content{text-align: center;position: relative;}
.search-bar{    
    height: 25px;
    margin: 4rem;
    display: flex;
    justify-content: center;
    align-items: center; 
    .search-group{
        max-width: 600px;
        height: 100%;
        width: 60%;
        display: flex;
        button{
            border: 1px solid $secondary-color;
            height: 100%;
            border-left: unset;
            position: relative;
            left: -5px;
            background-color: $secondary-color;
            color: $primary-color;
            font-weight: bold;
            font-family: $primary-font;
            padding: 0 30px;
            border-radius: 0 20px 20px 0;
        }  
        input,button{height: 100%;}
        input{
            border: 1px solid;
            flex:1;
            margin-left: 20px;
            border-radius: 20px 0 0 20px;
            padding-left: 15px;
        }
    }   
}
.browse-list{
    display: grid;
    justify-content: center;
    position: relative;
    grid-template-columns: repeat(auto-fit, 180px);    
    margin: 50px 17%;    
    background-color: rgba(0, 0, 0, 0.3);
    padding: 3% 0;
    border-radius: 20px;
    img.list{
        width: 150px;
        height: 150px;
        object-fit: contain;
        object-fit: cover;
        border-radius: 50px;
        transition: transform 0.2s ease-in;
        &:hover{
            transform: scale(1.3);
        }
    }
    .character{
        img{object-fit: contain;}
    }
    .view-button{
        position: absolute;
        top: -3rem;
        right: 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        button{
            height: 2rem;
            width: 2rem;
            padding: 1px 3px;
            border: 3px solid whitesmoke;
            margin-right: 10px;
            &.active,
            &:hover{
                border: 3px solid red;
            }            
        }    
    }
    p{display: none;}
    &.list{
        grid-template-columns: 1fr;
        background-color: unset;
        margin: 2% 17%;        
        padding-top: 0;
        color: black;
        a{margin-bottom: 1%;}
        p{display: block;}
        .section-item{
            position: relative;
            display: grid;
            background-color: whitesmoke;
            grid-template-columns: 2fr 6fr;
            border-radius: 5px;
            border: 4px solid whitesmoke;
            &:hover{
                border: 4px solid rgba(214, 22, 22,0.8);
            }
            img{
                border-radius: 0;
                width: 100%;
                height: 100%;
                padding: 15px;
                box-sizing: border-box;
                object-fit: cover;
                &:hover{
                    transform: scale(1);
                }
            }
            div:nth-of-type(1){
                padding-right: 10px;
                padding-bottom: 20px;
                text-align: left;
            }
            .date-item{
                position: absolute;
                right: 10px;
                bottom: 10px;
                margin: 0;
                font-size: 0.7em;
            }
            &.character{
                grid-template-columns: 1fr 6fr;
                img{                
                    padding: 0 15px;                
                    object-fit: contain;
                }
            }      
        }
    }
}
@media screen and (max-width: 750px) {
    .search-bar {
        justify-content: start;
        .search-group{
            margin-top: 10px;
            width: 100%;
            input{margin: 0;}
            button{
                padding: 0 15px;
            }
        }
    }
    .browse-list{        
        margin: 20px;
        &.list{
            margin: 50px;
            .section-item{                
                grid-template-columns: 1fr;
                div:nth-of-type(1){
                    padding: 0 15px;
                }
                &.character{
                    grid-template-columns: 1fr;
                    img{
                        padding: 20px 200px 0;
                    }                 
                }
            }
        }
    }
}
@media screen and (max-width: 320px) {
    .search-bar {        
        margin: 0 10px;
    }
}
/*brows style*/