/*brows style*/
.page-not-found {
  position: absolute;
  top: -40vh;
  width: 100%;
  text-transform: uppercase;
  font-size: 2em;
  opacity: 0;
  -webkit-transition: opacity 0.5s, top 1s;
  transition: opacity 0.5s, top 1s;
}

.page-not-found.show {
  opacity: 1;
  top: -100px;
}

.browse-page .main-content {
  text-align: center;
  position: relative;
}

.search-bar {
  height: 25px;
  margin: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-bar .search-group {
  max-width: 600px;
  height: 100%;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-bar .search-group button {
  border: 1px solid black;
  height: 100%;
  border-left: unset;
  position: relative;
  left: -5px;
  background-color: black;
  color: white;
  font-weight: bold;
  font-family: "Nunito";
  padding: 0 30px;
  border-radius: 0 20px 20px 0;
}

.search-bar .search-group input, .search-bar .search-group button {
  height: 100%;
}

.search-bar .search-group input {
  border: 1px solid;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 20px;
  border-radius: 20px 0 0 20px;
  padding-left: 15px;
}

.browse-list {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -ms-grid-columns: (180px)[auto-fit];
      grid-template-columns: repeat(auto-fit, 180px);
  margin: 50px 17%;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 3% 0;
  border-radius: 20px;
}

.browse-list img.list {
  width: 150px;
  height: 150px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50px;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
}

.browse-list img.list:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.browse-list .character img {
  -o-object-fit: contain;
     object-fit: contain;
}

.browse-list .view-button {
  position: absolute;
  top: -3rem;
  right: 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.browse-list .view-button button {
  height: 2rem;
  width: 2rem;
  padding: 1px 3px;
  border: 3px solid whitesmoke;
  margin-right: 10px;
}

.browse-list .view-button button.active, .browse-list .view-button button:hover {
  border: 3px solid red;
}

.browse-list p {
  display: none;
}

.browse-list.list {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  background-color: unset;
  margin: 2% 17%;
  padding-top: 0;
  color: black;
}

.browse-list.list a {
  margin-bottom: 1%;
}

.browse-list.list p {
  display: block;
}

.browse-list.list .section-item {
  position: relative;
  display: -ms-grid;
  display: grid;
  background-color: whitesmoke;
  -ms-grid-columns: 2fr 6fr;
      grid-template-columns: 2fr 6fr;
  border-radius: 5px;
  border: 4px solid whitesmoke;
}

.browse-list.list .section-item:hover {
  border: 4px solid rgba(214, 22, 22, 0.8);
}

.browse-list.list .section-item img {
  border-radius: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -o-object-fit: cover;
     object-fit: cover;
}

.browse-list.list .section-item img:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.browse-list.list .section-item div:nth-of-type(1) {
  padding-right: 10px;
  padding-bottom: 20px;
  text-align: left;
}

.browse-list.list .section-item .date-item {
  position: absolute;
  right: 10px;
  bottom: 10px;
  margin: 0;
  font-size: 0.7em;
}

.browse-list.list .section-item.character {
  -ms-grid-columns: 1fr 6fr;
      grid-template-columns: 1fr 6fr;
}

.browse-list.list .section-item.character img {
  padding: 0 15px;
  -o-object-fit: contain;
     object-fit: contain;
}

@media screen and (max-width: 750px) {
  .search-bar {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .search-bar .search-group {
    margin-top: 10px;
    width: 100%;
  }
  .search-bar .search-group input {
    margin: 0;
  }
  .search-bar .search-group button {
    padding: 0 15px;
  }
  .browse-list {
    margin: 20px;
  }
  .browse-list.list {
    margin: 50px;
  }
  .browse-list.list .section-item {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .browse-list.list .section-item div:nth-of-type(1) {
    padding: 0 15px;
  }
  .browse-list.list .section-item.character {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .browse-list.list .section-item.character img {
    padding: 20px 200px 0;
  }
}

@media screen and (max-width: 320px) {
  .search-bar {
    margin: 0 10px;
  }
}

/*brows style*/
/*# sourceMappingURL=browse.css.map */