.article-list{
    background-image: linear-gradient(0deg, antiquewhite, transparent);
    color: black;
    display: grid;
    row-gap: 10px;
    padding: 2% 17%;
    grid-template-rows: 0fr repeat(auto, 1fr);
    button{
        border: 0;
        height: 30px;
        width: 130px;
        border-radius: 5px;
        margin-right: 15px;        
        min-width: fit-content;
        max-width: 26%;
        transition: background-color 0.5s, box-shadow 0.5s;
        &.active,
        &:hover{
            color: whitesmoke;
            background-color: black;
            box-shadow: 0 0 0 2px whitesmoke;
        }
    }
    a{display: none;}
    .section-item{
        position: relative;
        display: grid;
        background-color: whitesmoke;
        grid-template-columns: 2fr 6fr;
        border-radius: 5px;
        img{
            width: 100%;
            height: 100%;
            padding: 15px;
            box-sizing: border-box;
            object-fit: cover;
        }
        div:nth-of-type(1){
            padding-right: 10px;
            padding-bottom: 20px;
        }
        .date-item{
            position: absolute;
            right: 10px;
            bottom: 10px;
            margin: 0;
            font-size: 0.7em;
        }
        &.character{
            grid-template-columns: 1fr 6fr;
            img{                
                padding: 0 15px;                
                object-fit: contain;
            }
        }      
    }
    &[data-category="info"] a.info,
    &[data-category="character"] a.character,
    &[data-category="events"] a.events{
        display: block;
    }
}
@media screen and (max-width: 750px) {
    .hot-news{
        flex-direction: column;
        padding: 0 10%;
        article{
            width: 100%;
            margin:2% 0;
        }
    }    
    .section-item {grid-template-columns: 1fr !important;}
    .section-item div:nth-of-type(1){padding: 0 15px;padding-bottom: 20px;}
    .article-list {
        padding: 10%;        
        .section-item{
            margin-top: 20px;
            grid-template-columns: 1fr;
            img{
                padding: 30px;
            }
            div:nth-of-type(1) {
                padding: 0 30px 20px 30px;
            }
        }
    }
}
@media screen and (max-width: 320px) {
    .article-list {
        padding: 5%;        
        .section-item{
            margin-top: 10px;
            font-size: 12px;
        }
    }
}