$primary-font: 'Nunito';
$primary-color: white;
$secondary-color:black;
$background-image: url(../../img/shooting.jpg);
$header-image: url(../../img/yellowBanner.jpg);

/*home page style*/
.home-page-button{
    position: absolute;
    z-index: 99;
    div{
        position: relative;
        background-color: $primary-color;
        width: 3vw;
        height: 3vw;   
        left: 1vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1000px;
    }
    img{width: 60%;}    
}
.home-page .content{
    display: flex;
    flex-direction: column;
}
.hot-news{
    /*
    display: flex;
    justify-content: space-between;
    */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1%;
    article{     
        display: grid;        
        /*
        flex-direction: column;
        width: 32.8125%;
        */
        padding-bottom: 10px;
        border-radius: 10px;   
        background-color: rgba(0,0,0,0.3);
        p,h3{margin: 10px 20px;}
    }        
    .art-footer{
        display: flex;
        margin: 10px 20px;
        justify-content: space-between;
        margin-top: auto;
        strong{color: orange;}
    }    
    .art-wrapper{
        position: relative;
        overflow: hidden;
        width: 380px;
        width: 90.47619047619048%;
        height: 0;
        padding-bottom: 50%;
        background-size: cover;
        margin: 5% auto;
        background-position: center;
        transition: transform .5s ease;        
        &:hover {    
            background-size: 140%;
        }
        img{
            position: absolute;
            width: 100%;
            height: 100%;
            transition: transform .5s ease;  
            object-fit: cover;
            &:hover{
                transform:scale(1.3);
            }
        }
    }
    
}

.major-nation{
    margin-top: 10%;
    img{
        position: absolute;
        opacity: 0;
        top: 0;    
        z-index: 99;    
        transition: opacity 0.3s ease-in;
        width: 100%;
        height: 100%;
        object-fit: contain;
        border: 5px solid $primary-color;
        box-sizing: border-box;
        object-position: right;
        &:hover{
            opacity: 1;
        }
    }    
    .background-image{
        width: 100%;
        height: 0;
        padding-bottom: 13.515625%;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        background-size: cover;
        background-repeat: no-repeat;
    }
    ul,li{
        list-style: none;
        padding: 0;
    }
    li{
        position: relative;
        height: 0;
        padding-bottom: 13.515625%;
        h1{
            display: flex;
            position: absolute;
            z-index: 99;
            font-size: 1.5em;
            width: 100%;
            top: 0; 
            height: 100%;
            margin: 0;    
            justify-content: center;
            align-items: center;
        }
        //&:hover img{display: block;}
        &::before {
            position: absolute;
            z-index: 2;
            top: 0;
            left: 0;
            display: block;
            content: '';
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.4);
        }
    }        
}
/*home page style*/

.article-list{
    background-image: linear-gradient(0deg, antiquewhite, transparent);
    color: black;
    display: grid;
    row-gap: 10px;
    padding: 2% 17%;
    grid-template-rows: 0fr repeat(auto, 1fr);
    button{
        border: 0;
        height: 30px;
        width: 130px;
        border-radius: 5px;
        margin-right: 15px;        
        min-width: fit-content;
        max-width: 26%;
        transition: background-color 0.5s, box-shadow 0.5s;
        &.active,
        &:hover{
            color: whitesmoke;
            background-color: black;
            box-shadow: 0 0 0 2px whitesmoke;
        }
    }
    a{display: none;}
    .section-item{
        position: relative;
        display: grid;
        background-color: whitesmoke;
        grid-template-columns: 2fr 6fr;
        border-radius: 5px;
        img{
            width: 100%;
            height: 100%;
            padding: 15px;
            box-sizing: border-box;
            object-fit: cover;
        }
        div:nth-of-type(1){
            padding-right: 10px;
            padding-bottom: 20px;
        }
        .date-item{
            position: absolute;
            right: 10px;
            bottom: 10px;
            margin: 0;
            font-size: 0.7em;
        }
        &.character{
            grid-template-columns: 1fr 6fr;
            img{                
                padding: 0 15px;                
                object-fit: contain;
            }
        }      
    }
    &[data-category="info"] a.info,
    &[data-category="character"] a.character,
    &[data-category="events"] a.events{
        display: block;
    }
}
@media screen and (max-width: 750px) {
    .hot-news{
        grid-template-columns: 1fr;
        padding: 0 10%;
        article{
            width: 100%;
            margin:2% 0;
        }
    }    
    .section-item {grid-template-columns: 1fr !important;}
    .section-item div:nth-of-type(1){padding: 0 15px;padding-bottom: 20px;}
    .article-list {
        padding: 10%;        
        .section-item{
            margin-top: 20px;
            grid-template-columns: 1fr;
            img{
                padding: 30px;
            }
            div:nth-of-type(1) {
                padding: 0 30px 20px 30px;
            }
        }
    }
}
@media screen and (max-width: 320px) {
    .article-list {
        padding: 5%;        
        .section-item{
            margin-top: 10px;
            font-size: 12px;
        }
    }
}