.article-list {
  background-image: -webkit-gradient(linear, left bottom, left top, from(antiquewhite), to(transparent));
  background-image: linear-gradient(0deg, antiquewhite, transparent);
  color: black;
  display: -ms-grid;
  display: grid;
  row-gap: 10px;
  padding: 2% 17%;
  -ms-grid-rows: 0fr (1fr)[auto];
      grid-template-rows: 0fr repeat(auto, 1fr);
}

.article-list button {
  border: 0;
  height: 30px;
  width: 130px;
  border-radius: 5px;
  margin-right: 15px;
  -webkit-transition: background-color 0.5s, -webkit-box-shadow 0.5s;
  transition: background-color 0.5s, -webkit-box-shadow 0.5s;
  transition: background-color 0.5s, box-shadow 0.5s;
  transition: background-color 0.5s, box-shadow 0.5s, -webkit-box-shadow 0.5s;
}

.article-list button.active, .article-list button:hover {
  color: whitesmoke;
  background-color: black;
  -webkit-box-shadow: 0 0 0 2px whitesmoke;
          box-shadow: 0 0 0 2px whitesmoke;
}

.article-list .section-item {
  position: relative;
  display: none;
  background-color: whitesmoke;
  -ms-grid-columns: 2fr 6fr;
      grid-template-columns: 2fr 6fr;
  border-radius: 5px;
}

.article-list .section-item img {
  width: 100%;
  height: 100%;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -o-object-fit: cover;
     object-fit: cover;
}

.article-list .section-item div:nth-of-type(1) {
  padding-right: 10px;
  padding-bottom: 20px;
}

.article-list .section-item .date-item {
  position: absolute;
  right: 10px;
  bottom: 10px;
  margin: 0;
  font-size: 0.7em;
}

.article-list .section-item.character {
  -ms-grid-columns: 1fr 6fr;
      grid-template-columns: 1fr 6fr;
}

.article-list .section-item.character img {
  padding: 0 15px;
  -o-object-fit: contain;
     object-fit: contain;
}

.article-list[data-category="info"] .section-item.info,
.article-list[data-category="character"] .section-item.character,
.article-list[data-category="events"] .section-item.events {
  display: -ms-grid !important;
  display: grid !important;
}

@media screen and (max-width: 750px) {
  .hot-news {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 10%;
  }
  .hot-news article {
    width: 100%;
    margin: 2% 0;
  }
  .section-item {
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
  }
  .section-item div:nth-of-type(1) {
    padding: 0 15px;
    padding-bottom: 20px;
  }
  .article-list {
    padding: 10%;
  }
  .article-list .section-item {
    margin-top: 20px;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .article-list .section-item img {
    padding: 30px;
  }
  .article-list .section-item div:nth-of-type(1) {
    padding: 0 30px 20px 30px;
  }
}

@media screen and (max-width: 320px) {
  .article-list {
    padding: 5%;
  }
  .article-list .section-item {
    margin-top: 10px;
    font-size: 12px;
  }
}
/*# sourceMappingURL=home.css.map */