html {
  font-family: "Nunito";
  color: white;
}

body {
  margin: 0;
}

a {
  text-decoration: unset;
  color: unset;
}

.main-section {
  background-image: url(../../img/shooting.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: aliceblue;
}

.headerContent {
  position: relative;
  z-index: 99;
  color: white;
  height: 4vw;
  font-family: "Nunito";
  /*
    display: flex;
    align-items: center;    
    justify-content: space-between;
    */
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 20vw;
      grid-template-columns: auto 20vw;
  -ms-grid-rows: 100%;
      grid-template-rows: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-image {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../../img/yellowBanner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}

.headerTitle {
  margin-left: 5%;
}

.headerTitle img {
  height: 90%;
  position: relative;
  left: -4vw;
}

.codeLogo {
  font-size: 1.2vw;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 5%;
  text-transform: uppercase;
  font-weight: bold;
  background-color: black;
}

.codeLogo:hover {
  background-color: white;
  color: black;
}

.content {
  padding-top: 0;
  font-family: "Nunito";
  color: white;
  width: 70%;
  margin: 2% auto 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-radius: 5px;
}

.sidebar {
  width: 2px;
  margin: 0.5% 1%;
}

.sideBorder {
  width: 100%;
  border: 1px solid;
  margin: 5% 0;
}

.mainContent {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 1% 0 0;
  border: 2px solid;
  padding: 1%;
}

.inlineHeading {
  display: inline;
}

.topBorderHeading {
  border-top: 1px solid;
  padding-top: 1em;
}

.sections {
  border: 2px solid;
  padding: 5%;
  margin-bottom: 5%;
}

.sections h2 {
  margin-top: 0;
}

.sideContent {
  width: 30%;
  margin: 1% 0;
}

.sideContent a {
  text-decoration: underline;
}

.sideContent a:hover {
  color: greenyellow;
}

.contentText {
  margin-right: 5%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.contentText li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contentText img {
  margin-right: 5%;
}

.contentArticle {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.contentImage {
  max-width: 100%;
}

.contentImage img {
  width: 100%;
}

.detailVideo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Nunito";
  color: white;
  padding-bottom: 5%;
}

.footer {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  background-color: black;
  color: white;
  font-family: "Nunito";
  padding: 1%;
  text-align: center;
}

.socials {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (2.5rem)[4];
      grid-template-columns: repeat(4, 2.5rem);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socials img {
  border: 1px solid black;
  border-radius: 99px;
  height: 25px;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.socials img:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  border: 1px solid white;
}

.socials a {
  margin: 0 5px;
}

.teyvat-page .detailVideo .frameWrapper {
  width: 44.5%;
  padding-bottom: 25%;
  position: relative;
}

/*Comment Section Styles*/
.commentSection textarea {
  min-width: 100%;
  max-width: 100%;
  max-height: 50%;
  margin-bottom: 2%;
  min-height: 10%;
}

.commentSection label h4 {
  margin-bottom: 2%;
}

.commentSection label, .commentSection textarea, .commentSection input {
  display: block;
  width: 100%;
}

.comment-container {
  margin: 0 10% 5% 10%;
  color: white;
}

.comment-container strong {
  text-transform: capitalize;
  font-size: 1.3em;
}

.comment-container article {
  margin-left: 1%;
  margin-bottom: 1%;
  min-width: 28%;
  padding: 2%;
  -webkit-box-shadow: 1px 1px 4px black;
          box-shadow: 1px 1px 4px black;
  border-radius: 15px;
  background-color: rgba(0, 0, 0, 0.5);
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(102, 178, 255, 0.5)));
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.5), rgba(102, 178, 255, 0.5));
}

.comment-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.comment-container h1 {
  text-shadow: 2px 2px 5px black;
}

.comment-container p {
  margin: 0;
}

/*Comment Section Styles*/
.home-page-button {
  position: absolute;
  z-index: 99;
}

.home-page-button div {
  position: relative;
  background-color: white;
  width: 3vw;
  height: 3vw;
  left: 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1000px;
}

.home-page-button div:hover {
  background-color: yellow;
}

.home-page-button img {
  width: 60%;
}

.arrow {
  border: solid white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.arrow.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.arrow.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.drag-article {
  display: none;
  z-index: 99;
  background: black;
  border: 0;
  position: absolute;
  top: calc(50% - 10px);
  left: 100%;
  padding: 20px 10px;
  border-radius: 0 15px 15px 0;
  -webkit-transition: 1s;
  transition: 1s;
}

/*Media Queries*/
@media screen and (max-width: 750px) {
  .headerContent {
    height: 10vw;
  }
  .headerContent .headerTitle img {
    left: -8vw;
  }
  .headerContent .home-page-button div {
    width: 6vw;
    height: 6vw;
  }
  .headerContent .codeLogo {
    font-size: 1.5vw;
    max-height: 30px;
  }
  .drag-article {
    display: block;
  }
  .content {
    width: 100%;
    margin: 1% 0;
  }
  .contentImage {
    width: 90%;
    margin: 5%;
  }
  .mainContent {
    margin: 1% 5%;
  }
  .sidebar {
    display: none;
  }
  .sideContent {
    position: absolute;
    background-color: black;
    width: 0%;
    min-height: 75vw;
    padding: 5% 0;
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
  }
  .sideContent .commentSection,
  .sideContent .sections {
    display: none;
  }
  .sideContent.open .commentSection,
  .sideContent.open .sections {
    display: block;
  }
  .teyvat-page .detailVideo .frameWrapper {
    width: 90%;
    padding-bottom: 50.5%;
  }
  .footer {
    font-size: 12px;
    padding: 5% 2%;
  }
}

@media screen and (max-width: 320px) {
  .contentArticle {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

/*Media Queries*/
/*# sourceMappingURL=main.css.map */