$primary-font: 'Nunito';
$primary-color: white;
$secondary-color:black;
$background-image: url(../../img/shooting.jpg);
$header-image: url(../../img/yellowBanner.jpg);

html{font-family: $primary-font;color:white;}
body{margin: 0;}
a{
    text-decoration: unset;
    color: unset;
}
.main-section{
    background-image: $background-image;
    background-repeat: no-repeat;
    background-size: cover;    
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
    min-height: 100vh; 
    background-color: aliceblue;
}
.headerContent{
    position: relative;
    z-index: 99;
    color: $primary-color;
    height: 4vw;    
    font-family: $primary-font;
    // Flex Style
    /*
    display: flex;
    align-items: center;    
    justify-content: space-between;
    */

    //Grid Style
    display: grid;
    grid-template-columns: auto 20vw;
    grid-template-rows: 100%;
    align-items: center;    
}
.header-image{
    z-index: -1;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: $header-image;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
}
.headerTitle{
    margin-left: 5%;
    img{
        height: 90%;
        position: relative;
        left: -4vw;
    }
}
.codeLogo{
    font-size: 1.2vw;
    height: 80%;      
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5%;
    text-transform: uppercase;
    font-weight: bold;    
    background-color: $secondary-color;
}
.content{
    padding-top: 0;    
    font-family: $primary-font;
    color: $primary-color;     
    width: 70%;
    margin: 2% auto 40px;
    min-height: 65vh;    
    display: flex;
    
    border-radius: 5px;
}
.sidebar{
    width: 2px;
    margin: 0.5% 1%;    
}
.sideBorder{
    width: 100%;    
    border: 1px solid;
    margin: 5% 0;
}
.mainContent{
    flex:1;
    margin: 1% 0;    
    border: 2px solid;
    padding: 1%;
}
.inlineHeading{display: inline;}
.topBorderHeading{
    border-top: 1px solid;
    padding-top: 1em;
}
.sections{
    border: 2px solid;
    padding: 5%;
    margin-bottom: 5%;
}
.sections h2{margin-top: 0;}
.sideContent{
    width: 30%;
    margin: 1% 0;    
}
.sideContent a{text-decoration: underline;}
.sideContent a:hover{color:greenyellow;}
.contentText{margin-right: 5%;flex:1;}
.contentText li{display: flex;}
.contentText img{margin-right: 5%;}
.contentArticle{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.contentImage{max-width: 100%;}
.contentImage img{width: 100%;}
.detailVideo{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: $primary-font;    
    color: $primary-color;
    padding-bottom: 5%;
}
.footer{   
    box-sizing: border-box; 
    width: 100%;    
    background-color: $secondary-color;
    color:$primary-color;
    font-family: $primary-font;
    padding: 1%;
    text-align: center;
}
.socials{
    display: grid;
    grid-template-columns: repeat(4,2.5rem);
    justify-content: center; 
    img{height: 25px;}
    a{margin: 0 5px;}       
}
.teyvat-page .detailVideo .frameWrapper{
    width: 44.5%;
    padding-bottom: 25%;
    position: relative;
}

/*Comment Section Styles*/
.commentSection textarea{
    min-width: 100%;
    max-width: 100%;
    max-height: 50%;
    margin-bottom: 2%;
    min-height: 10%;
}
.commentSection label h4{margin-bottom: 2%;}
.commentSection label,.commentSection textarea,.commentSection input{display: block;width: 100%;}
.comment-container{
    margin: 0 10% 5% 10%;
    color:$primary-color;
}
.comment-container strong{
    text-transform: capitalize;
    font-size: 1.3em;
}
.comment-container article{
    margin-left: 1%;
    margin-bottom: 1%;
    min-width: 28%;
    padding: 2%;
    box-shadow: 1px 1px 4px $secondary-color;
    border-radius: 15px;
    background-color: rgba(0,0,0,0.5);
    background: linear-gradient(90deg, rgba(0,0,0,0.5), rgba(102,178,255,0.5));
}
.comment-article{
    //Flex-style
    display: flex;
    flex-wrap: wrap;
}
.comment-container h1{text-shadow: 2px 2px 5px $secondary-color;}
.comment-container p{margin: 0;}
/*Comment Section Styles*/

.home-page-button{
    position: absolute;
    z-index: 99;
    div{
        position: relative;
        background-color: $primary-color;
        width: 3vw;
        height: 3vw;   
        left: 1vw;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1000px;
    }
    img{width: 60%;}    
}

.arrow {
    border: solid $primary-color;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transition: transform 0.5s;
    &.right {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }
    &.left {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }
  }
  
.drag-article{
    display: none;
    z-index: 99;
    background: $secondary-color;
    border: 0;
    position: absolute;
    top: calc(50% - 10px);
    left: 100%;    
    padding: 20px 10px;
    border-radius: 0 15px 15px 0;
    transition: 1s;
}

/*Media Queries*/
@media screen and (max-width: 750px) {
    .headerContent{
        height: 10vw;
        .headerTitle img{
            left: -8vw;
        }
        .home-page-button div{
            width: 6vw;
            height: 6vw;
        }
        .codeLogo {
            font-size: 1.5vw;
            max-height: 30px;
        }
    }   
    .drag-article{
        display: block;
    }
    .content{
        width: 100%;
        margin:1% 0;
    }       
    .contentImage{width: 90%;margin: 5%;}    
    .mainContent {margin: 1% 5%;}
    .sidebar{display: none;}
    .sideContent {
        position: absolute;
        background-color: $secondary-color;
        width: 0%;
        min-height: 75vw;
        padding: 5% 0;
        transition: width 0.5s;
        .commentSection,
        .sections{display: none;}
        &.open .commentSection,
        &.open .sections{display: block;}
    }
    
    .teyvat-page .detailVideo .frameWrapper{
        width: 90%;
        padding-bottom: 50.5%;
    }
    .footer{
        font-size: 12px;
        padding: 5% 2%;
    }
}
@media screen and (max-width: 320px) {
    .contentArticle{grid-template-columns: 1fr;}
}
/*Media Queries*/
